html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-family: 'Montserrat';
  font-size: 43px;
  font-weight: 800;
  letter-spacing: 10px;
  margin: 0;
  padding: 30px;
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  color: white;
}

h2 {
  padding-bottom: 27px;
  color: #626974;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  line-height: 25px;
}

a.header-link {
  text-decoration: none;
  border-bottom: 1px solid #626974;
  transition: opacity 0.2s ease;
  color: #626974;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}

a.header-link:hover {
  opacity: 0.5;
}

.big-header {
  box-sizing: border-box;
  background: #27292F;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  border-top: 2px solid #626974;
}

.box {
  width: 100%;
  height: 80px;
  background-color: #626974;
  margin: 20px auto;
}

.box--highlight {
  background-color: #FF6443;
}

.fpsMeter > div {
  border-radius: 3px;
}
